@import "./base.css";

#app {
  min-height: 100vh;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a.white {
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    opacity: 0.7;
  }
}

@media (prefers-color-scheme: dark) {
  input,
  textarea,
  select {
    color-scheme: dark;
  }
}
